<div class= "answer-box">

<h1>Stupid Coaching</h1>

    <div class="ask-card">
    <%= @question %>
    <p>-You</p>
    </div>

<div class="card">
    <%= @answer %>
    <p>-Coaches Answer</p>
    
</div>

<div>
    <a href=""><%= link_to "Another Question?", ask_path %></a>
</div>

</div>

