/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .answer-box {
    align-items: center;
    justify-content:center;
    margin: auto;
    width: 500px;
    padding: 10px;
 }

 h1 {
    color: magenta;
    font-weight: bolder;
    text-align: center;
 }

 .container {
    align-items: center;
    justify-content:center;
    /* padding: 10px; */
    /* margin: auto; */
    width: 500px;
 }

 .card {
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.247);
    border: 5px;
    border-radius: 5px;
 }

 .ask-card {
    padding: 10px;
    border: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 192, 203, 0.26);
 }

 /* input[type=submit] {
    color: red;
 } */

 /* input[type=button] {
    color: black;
    text-decoration: none;
 } */